<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flightSchoolArray</key>
	<array>
		<dict>
			<key>astronauts</key>
			<array>
				<dict>
					<key>x</key>
					<real>454.4000244140625</real>
					<key>y</key>
					<real>577.01513671875</real>
				</dict>
			</array>
			<key>beacons</key>
			<array>
				<dict>
					<key>x</key>
					<real>454.4000244140625</real>
					<key>y</key>
					<real>577.01513671875</real>
				</dict>
			</array>
			<key>description</key>
			<string>This straightforward mission shows you what happens when you press GO in the upper right corner. Notice that the line is green (good fuel efficient path). Check out the astronaut under the beacon (just drag the beacon a bit to see him).  Take it from me; getting the astronaut is really important.

Press &quot;Start&quot; to check out the Mission and then press &quot;Go!&quot; to send your ship off.</string>
			<key>endPoint</key>
			<array>
				<real>770.1333618164062</real>
				<real>475.1484680175781</real>
			</array>
			<key>items</key>
			<array>
				<dict>
					<key>type</key>
					<string>Fuel</string>
					<key>x</key>
					<real>637.86669921875</real>
					<key>y</key>
					<real>269.176513671875</real>
				</dict>
			</array>
			<key>name</key>
			<string>Mission One: The Basics</string>
			<key>planets</key>
			<array>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.003871794909238815</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>59.80769157409668</real>
					<key>x</key>
					<real>492.8000183105469</real>
					<key>y</key>
					<real>434.6151123046875</real>
				</dict>
				<dict>
					<key>antiGravity</key>
					<true/>
					<key>density</key>
					<real>0.003</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>25</real>
					<key>x</key>
					<real>349.86669921875</real>
					<key>y</key>
					<real>185.0151062011719</real>
				</dict>
			</array>
			<key>startPoint</key>
			<array>
				<real>181.3333435058594</real>
				<real>372.7484436035156</real>
			</array>
			<key>total_fuel</key>
			<integer>100</integer>
			<key>wells</key>
			<array/>
		</dict>
		<dict>
			<key>astronauts</key>
			<array/>
			<key>beacons</key>
			<array/>
			<key>description</key>
			<string>Beacons signal and relay information. Back in the day, they were fires lit on hilltops telling troops which way to go, or warning villages of impending danger. Here, you use beacons to navigate the ship&apos;s path to pick up astronauts and make it to the end station without running out of fuel.

You add beacons by touching the current path.
You remove them by double tapping on the beacon.

Move the beacons so they help navigate the ship away from planets and moons, but stay on an efficient path to the end station. The flight path is automatically recalculated as you add, move or delete beacons. Beacon placement affects the line&apos;s color. Green is good. 

Try moving the beacons and creating alternate flight paths. See what&apos;s efficient and what makes you space flotsam.</string>
			<key>endPoint</key>
			<array>
				<real>810.6666870117188</real>
				<real>428.2481994628906</real>
			</array>
			<key>items</key>
			<array/>
			<key>name</key>
			<string>Mission Two: Beacons</string>
			<key>planets</key>
			<array>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.003</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>70</real>
					<key>x</key>
					<real>558.933349609375</real>
					<key>y</key>
					<real>298.1148681640625</real>
				</dict>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.003</real>
					<key>hasMoon</key>
					<true/>
					<key>moonAngle</key>
					<real>3.605240262590599</real>
					<key>radius</key>
					<real>36.34615451097488</real>
					<key>x</key>
					<real>753.0667114257812</real>
					<key>y</key>
					<real>155.1815185546875</real>
				</dict>
			</array>
			<key>startPoint</key>
			<array>
				<real>202.6666717529297</real>
				<real>214.9148559570312</real>
			</array>
			<key>total_fuel</key>
			<integer>100</integer>
			<key>wells</key>
			<array/>
		</dict>
		<dict>
			<key>astronauts</key>
			<array>
				<dict>
					<key>x</key>
					<integer>613</integer>
					<key>y</key>
					<integer>431</integer>
				</dict>
			</array>
			<key>beacons</key>
			<array/>
			<key>description</key>
			<string>Some missions have astronauts floating in space (don&apos;t ask). You have to plan your route to pick them up, miss the planets and moons, and make it to the end station.

Beacons navigate your ship to the astronaut. Like fire leading you to the village gate. Get there and all is good. Bump into a rotating rock and your more like a knight who followed the fire only to be crushed by a catapulted stone.</string>
			<key>endPoint</key>
			<array>
				<real>830</real>
				<real>352</real>
			</array>
			<key>items</key>
			<array/>
			<key>name</key>
			<string>Mission Three: Astronauts</string>
			<key>planets</key>
			<array>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.003</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>70</real>
					<key>x</key>
					<real>430</real>
					<key>y</key>
					<real>579</real>
				</dict>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.015</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>40.1923081278801</real>
					<key>x</key>
					<real>689</real>
					<key>y</key>
					<real>234</real>
				</dict>
			</array>
			<key>startPoint</key>
			<array>
				<real>193</real>
				<real>352</real>
			</array>
			<key>total_fuel</key>
			<integer>150</integer>
			<key>wells</key>
			<array/>
		</dict>
		<dict>
			<key>astronauts</key>
			<array>
				<dict>
					<key>x</key>
					<real>327.7333374023438</real>
					<key>y</key>
					<real>342.7815246582031</real>
				</dict>
				<dict>
					<key>x</key>
					<real>704.0000610351562</real>
					<key>y</key>
					<real>400.5148620605469</real>
				</dict>
			</array>
			<key>beacons</key>
			<array>
				<dict>
					<key>x</key>
					<real>327.7333374023438</real>
					<key>y</key>
					<real>342.7815246582031</real>
				</dict>
				<dict>
					<key>x</key>
					<real>704.0000610351562</real>
					<key>y</key>
					<real>400.5148620605469</real>
				</dict>
			</array>
			<key>description</key>
			<string>The language of the Navigator is light. Green means you are good, red you will be out of fuel before you know it. 

When it comes to navigating through gravity-infested space in order to pick up randomly floating astronauts, there are an equal number of smart and stupid pathways. Use the beacons and let color be your guide. Also, it&apos;s just a game. So try and fail a few times. That&apos;s when you really start to learn.

Place a beacon between two already placed and adjust until you have a nice green path.</string>
			<key>endPoint</key>
			<array>
				<real>776.5333862304688</real>
				<real>581.8482055664062</real>
			</array>
			<key>items</key>
			<array/>
			<key>name</key>
			<string>Mission Four: The Navigator</string>
			<key>planets</key>
			<array>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.003</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>56.34615331888199</real>
					<key>x</key>
					<real>424.5333557128906</real>
					<key>y</key>
					<real>306.648193359375</real>
				</dict>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.003</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>52.11538434028625</real>
					<key>x</key>
					<real>627.2000122070312</real>
					<key>y</key>
					<real>455.9815368652344</real>
				</dict>
			</array>
			<key>startPoint</key>
			<array>
				<real>270.933349609375</real>
				<real>161.5815124511719</real>
			</array>
			<key>total_fuel</key>
			<integer>150</integer>
			<key>wells</key>
			<array/>
		</dict>
		<dict>
			<key>astronauts</key>
			<array/>
			<key>beacons</key>
			<array/>
			<key>description</key>
			<string>So this is where you wished you paid attention in class. Gravity is a force not unlike your mother&apos;s stare. It slows you way down. Planets have different densities and size (this says nothing about your mother). Anyway, the larger and more dense, the more gravity does its thing. The result is your burning fuel and going nowhere quickly. Planet density is determined by darkness of the outer glow. 

When more than one planet is in range, you&apos;ll want to fly where each planet&apos;s pull cancels the other&apos;s pull out.</string>
			<key>endPoint</key>
			<array>
				<real>792</real>
				<real>536</real>
			</array>
			<key>items</key>
			<array/>
			<key>name</key>
			<string>Mission Five: Planets</string>
			<key>planets</key>
			<array>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.015</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>70</real>
					<key>x</key>
					<integer>706</integer>
					<key>y</key>
					<integer>238</integer>
				</dict>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.003</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>70</real>
					<key>x</key>
					<real>309</real>
					<key>y</key>
					<real>586</real>
				</dict>
			</array>
			<key>startPoint</key>
			<array>
				<real>240</real>
				<real>160</real>
			</array>
			<key>total_fuel</key>
			<integer>50</integer>
			<key>wells</key>
			<array/>
		</dict>
		<dict>
			<key>astronauts</key>
			<array/>
			<key>beacons</key>
			<array/>
			<key>description</key>
			<string>Sometimes you will want to see how the the Gravity is at a certain point in Space. This is where the Probe comes in.
			
On every Mission you can touch and drag from the Start Station to release your Probe out in Space. You can just let your Probe go in a certain spot to see how it gets affected by Gravity at rest. Or you can give your Probe a little speed and throw it.

You can always pick your Probe back up off Planets and set it off again. If you every lose your Probe to the abyss, you can drag a new one from the Start Station. Play around with the Probe a bit then solve the Mission when you are ready to move on.</string>
			<key>endPoint</key>
			<array>
				<real>651</real>
				<real>519</real>
			</array>
			<key>items</key>
			<array/>
			<key>name</key>
			<string>Mission Six: The Probe</string>
			<key>planets</key>
			<array>
				<dict>
					<key>antiGravity</key>
					<true/>
					<key>density</key>
					<real>0.00735897445678711</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>53.26923042535782</real>
					<key>x</key>
					<real>133</real>
					<key>y</key>
					<real>187</real>
				</dict>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.008</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>70</real>
					<key>x</key>
					<real>672</real>
					<key>y</key>
					<real>235</real>
				</dict>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.015</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>32.50000022351742</real>
					<key>x</key>
					<real>937</real>
					<key>y</key>
					<real>533</real>
				</dict>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.003</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>56.73076868057251</real>
					<key>x</key>
					<real>286</real>
					<key>y</key>
					<real>533</real>
				</dict>
			</array>
			<key>startPoint</key>
			<array>
				<real>352</real>
				<real>192</real>
			</array>
			<key>total_fuel</key>
			<integer>200</integer>
			<key>wells</key>
			<array/>
		</dict>
		<dict>
			<key>astronauts</key>
			<array>
				<dict>
					<key>x</key>
					<real>512</real>
					<key>y</key>
					<real>362</real>
				</dict>
			</array>
			<key>beacons</key>
			<array>
				<dict>
					<key>x</key>
					<real>512</real>
					<key>y</key>
					<real>362</real>
				</dict>
			</array>
			<key>description</key>
			<string>Moons orbit counter-clockwise. We don&apos;t know why. They start in the same spot each time you run your mission. Like a trained dog chasing a ball. Moon speed is determined by planet size. Large mamas have slow babies. We don&apos;t know why. 

Try the Mission without changing anything and notice how you run into the moon. Then try going around the smaller Planet first to waste some time.</string>
			<key>endPoint</key>
			<array>
				<real>784</real>
				<real>558</real>
			</array>
			<key>items</key>
			<array/>
			<key>name</key>
			<string>Mission Seven: Moons</string>
			<key>planets</key>
			<array>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.003</real>
					<key>hasMoon</key>
					<true/>
					<key>moonAngle</key>
					<real>4.03275626480961</real>
					<key>radius</key>
					<real>70</real>
					<key>x</key>
					<real>513</real>
					<key>y</key>
					<real>467</real>
				</dict>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.003</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>25</real>
					<key>x</key>
					<real>130.1333465576172</real>
					<key>y</key>
					<real>366.3815307617188</real>
				</dict>
			</array>
			<key>startPoint</key>
			<array>
				<real>240</real>
				<real>160</real>
			</array>
			<key>total_fuel</key>
			<integer>250</integer>
			<key>wells</key>
			<array/>
		</dict>
		<dict>
			<key>astronauts</key>
			<array>
				<dict>
					<key>x</key>
					<real>323</real>
					<key>y</key>
					<real>438</real>
				</dict>
				<dict>
					<key>x</key>
					<real>567</real>
					<key>y</key>
					<real>555</real>
				</dict>
			</array>
			<key>beacons</key>
			<array/>
			<key>description</key>
			<string>You don&apos;t always have to wait for the moon to pass by.
			
For the more daring, you can slipstream between the moon and planet, staying close the planet to keep you from crashing into the passing moon while picking up the astronaut and escaping to the end station.</string>
			<key>endPoint</key>
			<array>
				<real>784</real>
				<real>558</real>
			</array>
			<key>items</key>
			<array/>
			<key>name</key>
			<string>Mission Eight: Avoiding Moons</string>
			<key>planets</key>
			<array>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.004692307770252228</real>
					<key>hasMoon</key>
					<true/>
					<key>moonAngle</key>
					<real>1.422639592063412</real>
					<key>radius</key>
					<real>66.73076808452606</real>
					<key>x</key>
					<real>364</real>
					<key>y</key>
					<real>368</real>
				</dict>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.01320512795448303</real>
					<key>hasMoon</key>
					<true/>
					<key>moonAngle</key>
					<real>3.671497083525186</real>
					<key>radius</key>
					<real>32.1153848618269</real>
					<key>x</key>
					<real>589</real>
					<key>y</key>
					<real>520</real>
				</dict>
			</array>
			<key>startPoint</key>
			<array>
				<real>100</real>
				<real>160</real>
			</array>
			<key>total_fuel</key>
			<integer>200</integer>
			<key>wells</key>
			<array/>
		</dict>
		<dict>
			<key>astronauts</key>
			<array>
				<dict>
					<key>x</key>
					<integer>512</integer>
					<key>y</key>
					<integer>362</integer>
				</dict>
				<dict>
					<key>x</key>
					<real>521</real>
					<key>y</key>
					<real>645</real>
				</dict>
			</array>
			<key>beacons</key>
			<array/>
			<key>description</key>
			<string>Out in Space you may come across a Fuel Tank floating out in the abyss.
			
They will fill up your Fuel to the max if you spend the time to go pick them up.

Try picking up the Fuel Tank before going off to save the Astronaut on this next Mission.</string>
			<key>endPoint</key>
			<array>
				<real>814</real>
				<real>618</real>
			</array>
			<key>items</key>
			<array>
				<dict>
					<key>type</key>
					<string>Fuel</string>
					<key>x</key>
					<real>590</real>
					<key>y</key>
					<real>79</real>
				</dict>
			</array>
			<key>name</key>
			<string>Mission Nine: Fuel Tanks</string>
			<key>planets</key>
			<array>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.005</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>70</real>
					<key>x</key>
					<real>531</real>
					<key>y</key>
					<real>548</real>
				</dict>
			</array>
			<key>startPoint</key>
			<array>
				<real>355</real>
				<real>123</real>
			</array>
			<key>total_fuel</key>
			<integer>80</integer>
			<key>wells</key>
			<array/>
		</dict>
		<dict>
			<key>astronauts</key>
			<array/>
			<key>beacons</key>
			<array>
				<dict>
					<key>x</key>
					<real>341</real>
					<key>y</key>
					<real>585</real>
				</dict>
			</array>
			<key>description</key>
			<string>Sometimes a straight path is exactly what you need when escaping a Planet&apos;s grasp to get to your goal.
			
Add another beacon between the starting station and the Fuel Tank to straighten the path so you can get there using less fuel.

Once you get the Fuel Tank it is easy sailing to the end station.</string>
			<key>endPoint</key>
			<array>
				<real>823</real>
				<real>636</real>
			</array>
			<key>items</key>
			<array>
				<dict>
					<key>type</key>
					<string>Fuel</string>
					<key>x</key>
					<real>341</real>
					<key>y</key>
					<real>591</real>
				</dict>
			</array>
			<key>name</key>
			<string>Mission Ten: Straight Paths</string>
			<key>planets</key>
			<array>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.01</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>70</real>
					<key>x</key>
					<integer>227</integer>
					<key>y</key>
					<integer>182</integer>
				</dict>
			</array>
			<key>startPoint</key>
			<array>
				<real>351</real>
				<real>247</real>
			</array>
			<key>total_fuel</key>
			<integer>260</integer>
			<key>wells</key>
			<array/>
		</dict>
		<dict>
			<key>astronauts</key>
			<array/>
			<key>beacons</key>
			<array/>
			<key>description</key>
			<string>Take the time in this next Mission to enjoy its simplicity.
			
You should be able to solve it with one Beacon. Enjoy.</string>
			<key>endPoint</key>
			<array>
				<real>642</real>
				<real>624</real>
			</array>
			<key>items</key>
			<array/>
			<key>name</key>
			<string>Mission Eleven: Foreshadowing</string>
			<key>planets</key>
			<array>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.01207692289352417</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>70</real>
					<key>x</key>
					<real>673</real>
					<key>y</key>
					<real>402</real>
				</dict>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.009564102649688721</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>56.73076868057251</real>
					<key>x</key>
					<real>767</real>
					<key>y</key>
					<real>106</real>
				</dict>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.009923076868057251</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>60.57692229747772</real>
					<key>x</key>
					<real>801</real>
					<key>y</key>
					<real>699</real>
				</dict>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.009307692289352416</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>64.42307591438293</real>
					<key>x</key>
					<real>224</real>
					<key>y</key>
					<real>222</real>
				</dict>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.012</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>52.49999970197678</real>
					<key>x</key>
					<real>326</real>
					<key>y</key>
					<real>693</real>
				</dict>
			</array>
			<key>startPoint</key>
			<array>
				<real>657</real>
				<real>159</real>
			</array>
			<key>total_fuel</key>
			<integer>160</integer>
			<key>wells</key>
			<array/>
		</dict>
		<dict>
			<key>astronauts</key>
			<array/>
			<key>beacons</key>
			<array/>
			<key>description</key>
			<string>Anti-Gravity Planets are much like normal Planets.
			
They are round have have different sizes and densities.
			
But instead of pulling your ship towards themselves. They push!

While going towards any Anti-Gravity Planet you will burn fuel to maintain minimum speed. Then as you leave the Anti-Gravity Planet you will gain speed from the push of the Anti-Gravity Planet.

This next mission is exactly like the last one, except that all of the Planets are Anti-Gravity Planets!

You should be able to solve this one with one Beacon as well. Good luck!</string>
			<key>endPoint</key>
			<array>
				<real>642</real>
				<real>624</real>
			</array>
			<key>items</key>
			<array/>
			<key>name</key>
			<string>Mission Twelve: Anti-Gravity Planets</string>
			<key>planets</key>
			<array>
				<dict>
					<key>antiGravity</key>
					<true/>
					<key>density</key>
					<real>0.01007692289352417</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>70</real>
					<key>x</key>
					<real>673</real>
					<key>y</key>
					<real>402</real>
				</dict>
				<dict>
					<key>antiGravity</key>
					<true/>
					<key>density</key>
					<real>0.01056410264968872</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>56.73076868057251</real>
					<key>x</key>
					<real>767</real>
					<key>y</key>
					<real>106</real>
				</dict>
				<dict>
					<key>antiGravity</key>
					<true/>
					<key>density</key>
					<real>0.00802307686805725</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>60.57692229747772</real>
					<key>x</key>
					<real>801</real>
					<key>y</key>
					<real>699</real>
				</dict>
				<dict>
					<key>antiGravity</key>
					<true/>
					<key>density</key>
					<real>0.01030769228935242</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>64.42307591438293</real>
					<key>x</key>
					<real>224</real>
					<key>y</key>
					<real>222</real>
				</dict>
				<dict>
					<key>antiGravity</key>
					<true/>
					<key>density</key>
					<real>0.013</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>52.49999970197678</real>
					<key>x</key>
					<real>326</real>
					<key>y</key>
					<real>693</real>
				</dict>
			</array>
			<key>startPoint</key>
			<array>
				<real>657</real>
				<real>159</real>
			</array>
			<key>total_fuel</key>
			<integer>230</integer>
			<key>wells</key>
			<array/>
		</dict>
		<dict>
			<key>astronauts</key>
			<array>
				<dict>
					<key>x</key>
					<real>656</real>
					<key>y</key>
					<real>474</real>
				</dict>
			</array>
			<key>beacons</key>
			<array/>
			<key>description</key>
			<string>On this next Mission you will need to learn how to do the Anti-Gravity Slingshot.
			
The purpose of it is to speed up your ship fast enough to get through a rock and a hard place, also know as a giant Planet and Anti-Gravity Planet.

You will never make it through if you go too slow but go ahead and try to see how much fuel you use as you pass through.

There is no way to manually speed up your ship so you have to use what you are given.

A smaller Anti-Gravity Planet will be on the left. Fly towards the right of it and then turn for the Fuel Tank and Astronaut.

You should pick up a lot of speed as you are get pushed by the Anti-Gravity Planet.</string>
			<key>endPoint</key>
			<array>
				<real>772</real>
				<real>645</real>
			</array>
			<key>items</key>
			<array>
				<dict>
					<key>type</key>
					<string>Fuel</string>
					<key>x</key>
					<real>393</real>
					<key>y</key>
					<real>437</real>
				</dict>
			</array>
			<key>name</key>
			<string>Mission Thirteen: Anti-Gravity Slingshot</string>
			<key>planets</key>
			<array>
				<dict>
					<key>antiGravity</key>
					<true/>
					<key>density</key>
					<real>0.015</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>70</real>
					<key>x</key>
					<real>765</real>
					<key>y</key>
					<real>379</real>
				</dict>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.015</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>70</real>
					<key>x</key>
					<real>572</real>
					<key>y</key>
					<real>579</real>
				</dict>
				<dict>
					<key>antiGravity</key>
					<true/>
					<key>density</key>
					<real>0.01197435879707336</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>42.88461565971375</real>
					<key>x</key>
					<real>152</real>
					<key>y</key>
					<real>430</real>
				</dict>
			</array>
			<key>startPoint</key>
			<array>
				<real>330</real>
				<real>148</real>
			</array>
			<key>total_fuel</key>
			<integer>250</integer>
			<key>wells</key>
			<array/>
		</dict>
		<dict>
			<key>astronauts</key>
			<array>
				<dict>
					<key>x</key>
					<real>468</real>
					<key>y</key>
					<real>353</real>
				</dict>
			</array>
			<key>beacons</key>
			<array/>
			<key>description</key>
			<string>We have new technology for you to try out. The Gravity Well.
			
It is a small object you can move around that creates an extreme powerful gravitational pull.

Moving these Wells to strategic places can help you navigate your Ship the way you want it or to help solve a seemingly impossible Mission. We wouldn&apos;t suggest flying through a Well or putting them directly on a Station.

For this Mission, move the Gravity Well on the left up above the Planet till its pull cancel outs the Planet&apos;s pull. This will allow your Ship to fly straight by without having to spend any fuel.</string>
			<key>endPoint</key>
			<array>
				<real>637</real>
				<real>357</real>
			</array>
			<key>items</key>
			<array/>
			<key>name</key>
			<string>Mission Fourteen: Gravity Wells</string>
			<key>planets</key>
			<array>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.015</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>40.1923081278801</real>
					<key>x</key>
					<real>474</real>
					<key>y</key>
					<real>281</real>
				</dict>
			</array>
			<key>startPoint</key>
			<array>
				<real>294</real>
				<real>355</real>
			</array>
			<key>total_fuel</key>
			<integer>50</integer>
			<key>wells</key>
			<array>
				<dict>
					<key>power</key>
					<integer>3600</integer>
					<key>x</key>
					<real>247</real>
					<key>y</key>
					<real>299</real>
				</dict>
			</array>
		</dict>
		<dict>
			<key>astronauts</key>
			<array>
				<dict>
					<key>x</key>
					<real>516</real>
					<key>y</key>
					<real>304</real>
				</dict>
				<dict>
					<key>x</key>
					<real>511</real>
					<key>y</key>
					<real>642</real>
				</dict>
			</array>
			<key>beacons</key>
			<array/>
			<key>description</key>
			<string>Taking your ship for a joy ride around a Planet isn&apos;t as easy as it seems. You have to manage the angles and the speed just right.

And placing the Beacons in the right order isn&apos;t easy either. For a counter-clockwise orbit, try the following:

Add a Beacon below the Planet at the Astronaut.
Add a Beacon at the End Station, move it to the right of the Planet.
Add a Beacon at the End Station, move it to the top Astronaut.
Add a Beacon at the End Station, move it to the right of the Planet.
Add a Beacon at the End Station, move it to the bottom Astronaut.
Adjust the side Beacons until you have a nice circular Loop-D-Loop.</string>
			<key>endPoint</key>
			<array>
				<real>840</real>
				<real>317</real>
			</array>
			<key>items</key>
			<array/>
			<key>name</key>
			<string>Mission Fifteen: Manual Orbit</string>
			<key>planets</key>
			<array>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.013</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>62.49999910593033</real>
					<key>x</key>
					<real>517</real>
					<key>y</key>
					<real>478</real>
				</dict>
			</array>
			<key>startPoint</key>
			<array>
				<real>193</real>
				<real>301</real>
			</array>
			<key>total_fuel</key>
			<integer>220</integer>
			<key>wells</key>
			<array/>
		</dict>
		<dict>
			<key>astronauts</key>
			<array/>
			<key>beacons</key>
			<array/>
			<key>description</key>
			<string>Named after man&apos;s best friend, F.I.D.O. may easily become yours.
			
The Force Intensity and Direction Overlay(F.I.D.O.) was made to help you visualize the Gravitational forces at each point in the Mission.

For Online Missions, each deployment of F.I.D.O. costs one Space Buck. Once you deploy F.I.D.O. you will be able to show and hide the overlay as much as you please for that particular Mission.

You will receive an initial TEN Space Bucks for completing Flight School. You will always be able to purchase Space Bucks.

Go ahead and press the &quot;Show F.I.D.O.&quot; on this Mission to reveal the best path for your Ship to take.</string>
			<key>endPoint</key>
			<array>
				<real>822</real>
				<real>538</real>
			</array>
			<key>items</key>
			<array/>
			<key>name</key>
			<string>Mission Sixteen: F.I.D.O.</string>
			<key>planets</key>
			<array>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.01176923060417175</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>42.5</real>
					<key>x</key>
					<real>292</real>
					<key>y</key>
					<real>444</real>
				</dict>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.008</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>70</real>
					<key>x</key>
					<real>827</real>
					<key>y</key>
					<real>315</real>
				</dict>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.015</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>57.11538404226303</real>
					<key>x</key>
					<real>482</real>
					<key>y</key>
					<real>199</real>
				</dict>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.006538461685180665</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>56.34615331888199</real>
					<key>x</key>
					<real>159</real>
					<key>y</key>
					<real>280</real>
				</dict>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.015</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>39.42307740449905</real>
					<key>x</key>
					<real>625</real>
					<key>y</key>
					<real>503</real>
				</dict>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.003</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>37.11538523435593</real>
					<key>x</key>
					<real>446</real>
					<key>y</key>
					<real>343</real>
				</dict>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.005307692348957062</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>70</real>
					<key>x</key>
					<real>387</real>
					<key>y</key>
					<real>622</real>
				</dict>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.015</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>40.57692348957062</real>
					<key>x</key>
					<real>857</real>
					<key>y</key>
					<real>582</real>
				</dict>
				<dict>
					<key>antiGravity</key>
					<false/>
					<key>density</key>
					<real>0.003</real>
					<key>hasMoon</key>
					<false/>
					<key>moonAngle</key>
					<real>0</real>
					<key>radius</key>
					<real>50.96153825521469</real>
					<key>x</key>
					<real>178</real>
					<key>y</key>
					<real>571</real>
				</dict>
			</array>
			<key>startPoint</key>
			<array>
				<real>240</real>
				<real>160</real>
			</array>
			<key>total_fuel</key>
			<integer>65</integer>
			<key>wells</key>
			<array/>
		</dict>
	</array>
</dict>
</plist>
