<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anti_gravity.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,918},{290,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{290,290}}</string>
                <key>sourceSize</key>
                <string>{290,290}</string>
            </dict>
            <key>anti_gravity_pulse_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,612},{306,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{306,306}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>anti_gravity_pulse_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,612},{306,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{306,306}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>anti_gravity_pulse_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,612},{306,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{306,306}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>anti_gravity_pulse_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,306},{306,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{306,306}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>anti_gravity_pulse_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,306},{306,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{306,306}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>anti_gravity_pulse_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,306},{306,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{306,306}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>anti_gravity_pulse_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,0},{306,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{306,306}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>anti_gravity_pulse_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,0},{306,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{306,306}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>anti_gravity_pulse_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{306,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{306,306}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>astronaut.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,155},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{34,48}</string>
            </dict>
            <key>beacon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,368},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>beacon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,324},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>fuel.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,0},{40,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>fuelGuage.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,237},{194,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,22}}</string>
                <key>sourceSize</key>
                <string>{194,22}</string>
            </dict>
            <key>fuelTank.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,0},{202,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,66}}</string>
                <key>sourceSize</key>
                <string>{202,66}</string>
            </dict>
            <key>fury.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,42},{47,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,38}}</string>
                <key>sourceSize</key>
                <string>{47,38}</string>
            </dict>
            <key>gravity_pulse_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{306,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{306,306}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>gravity_pulse_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,0},{306,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{306,306}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>gravity_pulse_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,0},{306,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{306,306}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>gravity_pulse_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,306},{306,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{306,306}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>gravity_pulse_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,306},{306,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{306,306}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>gravity_pulse_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,306},{306,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{306,306}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>gravity_pulse_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,612},{306,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{306,306}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>gravity_pulse_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,612},{306,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{306,306}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>gravity_pulse_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,612},{306,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{306,306}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>gravity_well.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,202},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>moon.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,262},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>planet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1202},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>planet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1492},{280,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{280,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>planet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1208},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>planet_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1202},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>planet_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,918},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>planet_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,918},{284,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,284}}</string>
                <key>sourceSize</key>
                <string>{284,284}</string>
            </dict>
            <key>probe.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,89},{34,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,66}}</string>
                <key>sourceSize</key>
                <string>{34,66}</string>
            </dict>
            <key>space_station.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,203},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>general-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bb21e54deadca3cbadf047d91530a08$</string>
            <key>textureFileName</key>
            <string>general-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
