<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anti_gravity.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,465},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>anti_gravity_pulse_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,310},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{155,155}}</string>
                <key>sourceSize</key>
                <string>{181,181}</string>
            </dict>
            <key>anti_gravity_pulse_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,310},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{155,155}}</string>
                <key>sourceSize</key>
                <string>{181,181}</string>
            </dict>
            <key>anti_gravity_pulse_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,310},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{155,155}}</string>
                <key>sourceSize</key>
                <string>{181,181}</string>
            </dict>
            <key>anti_gravity_pulse_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,155},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{155,155}}</string>
                <key>sourceSize</key>
                <string>{181,181}</string>
            </dict>
            <key>anti_gravity_pulse_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,155},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{155,155}}</string>
                <key>sourceSize</key>
                <string>{181,181}</string>
            </dict>
            <key>anti_gravity_pulse_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,155},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{155,155}}</string>
                <key>sourceSize</key>
                <string>{181,181}</string>
            </dict>
            <key>anti_gravity_pulse_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,0},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{155,155}}</string>
                <key>sourceSize</key>
                <string>{181,181}</string>
            </dict>
            <key>anti_gravity_pulse_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,0},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{155,155}}</string>
                <key>sourceSize</key>
                <string>{181,181}</string>
            </dict>
            <key>anti_gravity_pulse_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{155,155}}</string>
                <key>sourceSize</key>
                <string>{181,181}</string>
            </dict>
            <key>astronaut.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,184},{18,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,25}}</string>
                <key>sourceSize</key>
                <string>{18,25}</string>
            </dict>
            <key>beacon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,227},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>beacon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,209},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>fuel.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,204},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>fuelGuage.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,0},{98,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,12}}</string>
                <key>sourceSize</key>
                <string>{98,12}</string>
            </dict>
            <key>fuelTank.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,0},{102,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,34}}</string>
                <key>sourceSize</key>
                <string>{102,34}</string>
            </dict>
            <key>fury.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,184},{25,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,20}}</string>
                <key>sourceSize</key>
                <string>{25,20}</string>
            </dict>
            <key>gravity_pulse_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{155,155}}</string>
                <key>sourceSize</key>
                <string>{181,181}</string>
            </dict>
            <key>gravity_pulse_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,0},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{155,155}}</string>
                <key>sourceSize</key>
                <string>{181,181}</string>
            </dict>
            <key>gravity_pulse_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,0},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{155,155}}</string>
                <key>sourceSize</key>
                <string>{181,181}</string>
            </dict>
            <key>gravity_pulse_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,155},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{155,155}}</string>
                <key>sourceSize</key>
                <string>{181,181}</string>
            </dict>
            <key>gravity_pulse_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,155},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{155,155}}</string>
                <key>sourceSize</key>
                <string>{181,181}</string>
            </dict>
            <key>gravity_pulse_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,155},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{155,155}}</string>
                <key>sourceSize</key>
                <string>{181,181}</string>
            </dict>
            <key>gravity_pulse_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,310},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{155,155}}</string>
                <key>sourceSize</key>
                <string>{181,181}</string>
            </dict>
            <key>gravity_pulse_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,310},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{155,155}}</string>
                <key>sourceSize</key>
                <string>{181,181}</string>
            </dict>
            <key>gravity_pulse_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,310},{155,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{155,155}}</string>
                <key>sourceSize</key>
                <string>{181,181}</string>
            </dict>
            <key>gravity_well.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,102},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>moon.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,152},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>planet_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,608},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>planet_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,754},{141,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{141,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>planet_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,611},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>planet_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,608},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>planet_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,465},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>planet_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,465},{143,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,143}}</string>
                <key>sourceSize</key>
                <string>{143,143}</string>
            </dict>
            <key>probe.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,134},{18,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,34}}</string>
                <key>sourceSize</key>
                <string>{18,34}</string>
            </dict>
            <key>space_station.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,232},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>general.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:967ac948a044bbf134adf75e4219651c$</string>
            <key>textureFileName</key>
            <string>general.pvr.ccz</string>
        </dict>
    </dict>
</plist>
